<%= render "home/header" %>
<br/>

<div class="container">
<br/>
<h2><b>Edit Profile<% resource_name.to_s.humanize %></b></h2>
<br/>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="form-group">
    <%= f.label :username %><br />
    <%= f.text_field :username, autofocus: true,  class:"form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email,  autocomplete: "email", class:"form-control" %>
  </div>
<br/>
  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="form-group">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "new-password", class:"form-control", placeholder:"Please Enter Password" %>
    <% if @minimum_password_length %>
      
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>
  <br/>
  <div class="form-group">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control", placeholder:"Please Enter confirmation Password" %>
  </div>
  <br/>

  <div class="form-group">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password", class:"form-control", placeholder:"Please Enter Current Password" %>
  </div><br/>

  <div class="actions">
    <%= f.submit "Update", class: "btn btn-primary" %>
  </div>
<% end %><br/>

<h3><b>Cancel my account</b></h3>
<br/>
<p><b>Unhappy?</b> <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class:"btn btn-danger" %></p>

<%= link_to "Back", :back, class:"btn btn-secondary" %>
<br/><br/>

</div>