<%= render "home/header" %>
<br/>
<div class="container">
<br/>
<h2><b>Sign up</b></h2><br/>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="form-group">
    <%= f.label :UserName %><br />
    <%= f.text_field :username, class:"form-control", placeholder:"Please Enter User Name" %>
  </div><br/>

  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control", placeholder:"Please Enter Email" %>
  </div><br/>

  <div class="form-group">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", class:"form-control", placeholder:"Please Enter Password" %>
  </div><br/>

  <div class="form-group">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control", placeholder:"Please Enter Confirm Email" %>
  </div><br/>

  <div class="actions">
    <%= f.submit "Sign up", class:"btn btn-primary" %>
  </div><br/>
<% end %>

<%= render "devise/shared/links" %>
</div>