<%= render "header" %>

<% if user_signed_in? %>
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>Hello <%= current_user.username%>!</strong> Welcome to our website
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<% else %>
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>Hello user</strong> Please Login
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<% end %>