<div class="container">
<br/>
<h2>Log in</h2>
<br/>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, clautocomplete: "email", class:"form-control", placeholder:"Please Enter Your Password" %>
  </div><br/>

  <div class="form-group">
  <%= f.label :password %><br />
  <%= f.password_field :password, autocomplete: "current-password", class:"form-control", placeholder:"Please Enter Your Password" %>
</div>
<br/>
<% if devise_mapping.rememberable? %>
<div class="form-group form-check">
    <%= f.check_box :remember_me, class:"form-check-label" %>
    <%= f.label :remember_me %>
  </div>
<% end %>
<br/>
<div class="actions">
  <%= f.submit "Log in", class:"btn btn-primary" %>
</div>
<% end %>
<br/>
<%#= render "devise/shared/links" %>
</div>