<%= render "home/header" %>
<br/>
<br/>


<div class="container form-container" style="width:60%;">

<h3 class="text-center"><b>API Key Updation</b></h3>
<br/>
<%= form_for @general, url: "/general_setting/#{@general.id}", method: "PUT" do |d|%>

    <div class="form-group">
    <h3><b><%= d.label :Infobip_Api_Key %></b></h3>
    <%= d.text_field :apikey, class:"form-control", placeholder:"Enter the Api Key" %>
    <div id="emailHelp" class="form-text"><b>Field Must Be Compulsory*.</b></div>
    </div>
    <br/>
    <button type="submit" class="btn btn-primary">Update</button>
  <% end %>
  </div>