<%= render "home/header" %>
<br/>
<div class="container form-container" style="width:60%;">
<br/>


<h3 class="text-center"><b>Infobip ApiKey</b></h3>
<br/>
<div class="container-fluid">
<% if @general.present? %>
  <table class="table table-hover">
    <thead class="thead-dark table-info">
      <tr>
        <th scope="col">API Key</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
          <td><%= @general.apikey %></td>
        <td><%= link_to "Edit API Key", controller:"general_setting", action:"edit", id:@general.id %></td>
        </tr>
    </tbody>
  </table>  
  <br/>
<% end %>
<% if !@general.present? %>
  <%= link_to "Add API Key", new_general_setting_path, class:"btn btn-primary" %>
<% end %>
</div>
</div>